
<div class="row">
  <div class="col-md-12">
    <p>
      Welcome to the RPi-OVN Logging Work Dashboard. This is where you can log your work and labor statistics for the various projects housed on this site.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul>
      <li><a href="#">Log your time</a></li>
      <li><a href="#">View Projects and Contributions</a></li>
    </ul>
  </div>
</div>

<br />
<hr />
<div class="row">
  <div class="col-md-12">
    <p>Please ignore this. It is for testing and will be removed.</p>
    <br />
    <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> -->
    <button type="button" class="btn btn-primary btn-lg" onclick="global.dashboardView.openModal()">
      Launch demo modal
    </button>
  </div>
</div>