<div class="row">
  <div class="col-md-12">
    <p>
      This is the logWork View.
    </p>
    
    <form class="form-inline">
      <div class="form-group input-group date" data-provide="datepicker">
        <!-- <label for="logDate">Date</label> -->
        <input type="text" class="form-control datepicker" id="logDate" placeholder="" data-date-auto-close="true">
        <!-- required for datepicker -->
        <div class="input-group-addon" style="opacity: 0;"></div>
      </div>
      
      <div class="form-group">
        <!-- <label for="logWorkType">Type of Work:</label> -->
        <select class="form-control" id="logWorkType">
          <option>Type 1</option>
          <option>Type 2</option>
          <option>Type 3</option>
        </select>
      </div>
      
      <div class="form-group">
        <!-- <label for="logProject">Type of Work:</label> -->
        <select class="form-control" id="logProject">
          <option>Project 1</option>
          <option>Project 2</option>
          <option>Project 3</option>
        </select>
      </div>
      
      <div class="form-group">
        <input type="number" class="form-control" id="logHour" placeholder="" step="0.25"><span>hours</span>
      </div>
      
      <br />
      
      <div class="form-group">
        <label for="logDesc">Description of Work:</label><br />
        <input type="textarea" class="form-control" rows="3" id="logDesc" placeholder="Describe the work you did.">
      </div>
      
      <br />
      <button type="submit" class="btn btn-default">Send invitation</button>
    </form>
    
  </div>
</div>