


<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3">
          <label for="logProject">Select Project:</label>
          <select class="form-control" id="projectList">
            <option></option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <h2>Pie Chart</h2>
    <canvas id="pieChart" width="400" height="400"></canvas>
  </div>
</div>