


<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3">
          <label for="logProject">Select Project:</label>
          <select class="form-control" id="projectList">
            <option></option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-4">
    <h2>Pie Chart</h2>
    <canvas id="pieChart" width="200" height="200"></canvas>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody id="projectTable">
        
      </tbody>
    </table>
  </div>
</div>

<br />
<hr />
<br />

<div class="row">
  <div class="col-md-12">
    <canvas id="barChart"></canvas>
  </div>
</div>

<!-- 
<div class="row">
  <div class="col-md-12">
    <canvas id="testChart"></canvas>
  </div>
</div>
-->