<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
</style>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped"> 
      <thead> 
        <tr> 
          <th>Username</th> 
          <th>User Account</th> 
          <th>Economic Agent</th> 
          <th>-</th> 
          <th>Delete</th>
        </tr> 
      </thead> 
      <tbody id="nrpUsersTable"> 
        <tr id="nrpUserRow" hidden> 
          <th scope=row>Username</th> 
          <td class="userName"></td> 
          <td class="btnApprove"><button type="button" class="btn btn-success">Approve Account</button></td>  
          <td class="btnApprove2"><button type="button" class="btn btn-success">Approve Agent</button></td> 
          <!-- <td class="btnDelete"><button type="button" class="btn btn-danger" onclick="global.nrpUsersView.deleteUser()">Delete</button></td> -->
          <td class="btnDelete"><button type="button" class="btn btn-danger">Delete</button></td> 
        </tr> 
      </tbody> 
    </table>
  </div>
</div>

<div class="row" id="csrfTokenInputForm">
  <div class="col-md-12">
    <form class="form-horizontal">
      <label for="csrfTokenInput" class="control-label">CSRF Token:</label>
      <div class="controls">
        <input type="text" id="csrfTokenInput" name="csrfTokenInput" />
        <span class="help-block">Log into NRP, open the dev console, and run the instruction 'document.cookie'. Past in the CSRF Token here.</span>
      </div>
    </form>
  </div>
</div>

<div class="row" id="newUserForm" hidden>
  <div class="col-md-12">
    <hr>
    <h2>
      New User Creation Form
    </h2>
    <form action="http://192.241.198.211:8000/api/usercreation/" method="POST" enctype="multipart/form-data" class="form-horizontal">                                          
      <fieldset>

        <div style='display:none'><input type='hidden' id='csrfmiddlewaretoken' name='csrfmiddlewaretoken' value='gve4seyHbMkZyxb75DV5al1ReRleELC1' /></div>

        <div class="control-group">
            <label for="username" class="control-label">username:</label>
            <div class="controls">
                <input type="text" name="username" id="username" />
                <span class="help-block">Required. 30 characters or fewer. Letters, numbers and @/./+/-/_ characters</span>

            </div>
        </div>

        <div class="control-group">
            <label for="first_name" class="control-label">first name:</label>
            <div class="controls">
                <input type="text" name="first_name" id="first_name" />
            </div>
        </div>

        <div class="control-group">
            <label for="last_name" class="control-label">last name:</label>
            <div class="controls">
                <input type="text" name="last_name" id="last_name" />
            </div>
        </div>

        <div class="control-group">
            <label for="email" class="control-label">e-mail address:</label>
            <div class="controls">
                <input type="text" name="email" id="email" />
            </div>
        </div>

        <div class="control-group">
            <label for="password" class="control-label">password:</label>
            <div class="controls">
                <input type="text" name="password" id="password" />


            </div>
        </div>



        <div class="form-actions">
            <button class="btn btn-primary" title="Make a POST request on the User Creation List resource">POST</button>

        </div>
      </fieldset>
    </form>
    <!-- <button class="btn btn-primary" onclick="global.nrpUsersView.submitNewUserForm()">Submit</button> -->
    
    <center><b><p id="successMsgUpload" style="color: red;"></p></b></center>
  </div>
</div>

<!-- Waiting/Success Modal -->
<div class="modal bs-example-modal-sm" id="nrpUsersModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submitting data...</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive center-block" src="images/waiting.gif" id="waitingGif" />
        <h2 class="text-center" id="successMsg" style="color: green;" hidden><strong>Success!</strong></h2>
        <p id="errorMsg" hidden></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>
</div>