<section>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
    h1, h2, h3, h4, h5, p, ul, ol, li {
      font-family: 'Montserrat', sans-serif;
      color: #594a42;
    }
    
  </style>
  
  <div class="container">
    <div class="row" style="border: 2px solid #c7053d;">
      <div class="col-sm-4" style="border-right: 1px solid #c7053d;">
        <img src="/images/rpi-tracker.jpg" class="img-responsive center-block projImg" />
      </div>
      <div class="col-sm-8 projSummary"  style="border-left: 1px solid #c7053d;"></div>
    </div>
    
    <div class="row">
      <div class="col-sm-12" style="border: 2px solid #c7053d;">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#projectInfo" role="tab" data-toggle="tab">Project Summary</a></li>
          <li role="presentation"><a href="#hardware" role="tab" data-toggle="tab">Hardware</a></li>
          <li role="presentation"><a href="#software" role="tab" data-toggle="tab">Software</a></li>
          <li role="presentation"><a href="#faq" role="tab" data-toggle="tab">FAQ</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="min-height: 150px; background-color: #f7f7f9;">
          <div role="tabpanel" class="tab-pane active" id="projectInfo">
            
          </div>
          <div role="tabpanel" class="tab-pane fade" id="hardware">
            
          </div>
          <div role="tabpanel" class="tab-pane fade" id="software">
            
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq">
            
          </div>
        </div>

      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h2><a href="/projectapplication">Add Your Own Project!</a></h2>
      </div>
    </div>
    
  </div>
  <br>
  
  <script type="text/javascript">
    $(document).ready(function() {
      
      $.get('/api/projectinfo/list', '', function(data) {
        //debugger;
        
        var projectInfo = data.projectinfo;
        
        //Fill in the content from the data retrieved from the server.
        var projBtn = '<a class="btn btn-primary center-text" href="/project/'
        +projectInfo[0].slug+'">View Project Page</a><br>';
        $('.projSummary').append('<h1>'+projectInfo[0].title+'</h1>'+projBtn);
        $('.projSummary').append(projectInfo[0].basicInfo);
        
        
        $('#projectInfo').append(projectInfo[0].summary);
        $('#hardware').append(projectInfo[0].hardware);
        $('#software').append(projectInfo[0].software);
        
        $('#faq').append('<br>');
        
        //Fill out the FAQ section.
        for(var i=0; i < projectInfo[0].faqTitle.length; i++) {
          $('#faq').append('<h3>'+projectInfo[0].faqTitle[i]+'</h3>');
          $('#faq').append(projectInfo[0].faqBody[i]);
          $('#faq').append('<br>');
        }
        
        //Activate the tabs to get content to show
        //$('.nav-tabs').find('a').last().tab('show');
        //$('.nav-tabs').find('a').first().tab('show')
      });
      
    });
  </script>
</section>