<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="http://rpiovn.org/images/rpi-tracker.jpg" class="img-responsive center-block projImg" />
      </div>
      <div class="col-md-8 projSummary">

      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#projectInfo" role="tab" data-toggle="tab">Project Info</a></li>
          <li role="presentation"><a href="#hardware" role="tab" data-toggle="tab">Hardware</a></li>
          <li role="presentation"><a href="#software" role="tab" data-toggle="tab">Software</a></li>
          <li role="presentation"><a href="#faq" role="tab" data-toggle="tab">FAQ</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active" id="projectInfo">
            <p>Project Info</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="hardware">
            <p>Hardware</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="software">
            <p>Software</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq">
            <p>Frequently Asked Questions</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    $(document).ready(function() {
      /*
      $.get('/api/projectinfo/list', '', function(data) {
        debugger;
        
        var projectInfo = data.projectinfo;
        
        $('.projSummary').append(projectInfo[0].basicInfo);
        //$('#projectInfo').append(projectInfo[0].summary);
        //$('#hardware').append(projectInfo[0].hardware);
        //$('#software').append(projectInfo[0].software);
        
      });
      */
    });
  </script>
</section>