<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="http://rpiovn.org/images/rpi-tracker.jpg" class="img-responsive center-block" />
      </div>
      <div class="col-md-8 projSummary">

      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Project Info</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Hardware</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Software</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">FAQ</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active" id="home">
            <p>Project Info</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="profile">
            <p>Hardware</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="messages">
            <p>Software</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="settings">
            <p>Frequently Asked Questions</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $.get('/api/projectinfo/list', '', function(data) {
        debugger;
      });
    });
  </script>
</section>