<div class="container">
  <div class="col-sm-12">

    <h1>RPi OVN Software License</h1>
    <p>
      Also software released by RPi OVN (including this site) is covered by the following license:
    </p>
    <p>
      Copyright (c) 2017 Chris Troutner and RPiOVN.org. This software is covered by 
      Attribution-NonCommercial-ShareAlike 4.0 International license: 
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">https://creativecommons.org/licenses/by-nc-sa/4.0/</a>. 
      In order to use this or any of our code in your own project you must meet the following conditions:
    </p>
    <ul>
      <li>
        <h2>Attribution:</h2>
        <ul>
          <li>
            Attribution in the form of a link to RPiOVN.org is required in the header of any source code files 
            that make use of source code or derivities of source code from this project.
          </li>
        </ul>
      </li>
      <li>
        <h2>Commercial Use:</h2>
        <ul>
          <li>
            Any products using code or derivitives of code from this repository must register by 
            contacting Chris Troutner(<a href="mailto:chris.troutner@gmail.com">chris.troutner@gmail.com</a> 
            or <a href="http://rpiovn.org">RPiOVN.org</a>. 
            A simple written notice by email will suffice.
          </li>
          <li>
            Any products using code or derivities of code from this repository which obtain more than 
            $10,000 USD in annual gross sales agree to pay a royalty of 2% of those gross sales to the copyright holder.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>